{% extends 'base.html' %}

{% block title %} hello {% endblock title %}


{% block body %} 
<img src="https://source.unsplash.com/1600x400/?OPT " class="d-block w-100" alt="emergency img">
<p><h3> We  are 24*7 avaialable for emergency OPT  Contact us or Our Doctor  on :258*147*36</h3></p>
<P> we have expert doctor in our Hospital no woories!</p>
<p> Our interns also wel trained under Expert And Experiences Doctor </P>
<p> We have house visit  Doctor Call on :985**145*7 {% endblock body %}