{% extends 'base.html' %}

{% block title %} feedback {% endblock title %}


{% block body %} 
<P><h6> XYZ Hospitalis well certified hostpital and reputed hospital in country 
  we have well experienced Doctor and interns 
  Our Doctor have experienced of  30+ yrs and are interns are working under Experiences doctors 
  Xyz hospital is Awrard winning hospital in special fields like Diabetes, cancer , neuro, Orthopedic , cardio, physiotheraphy , organ transplant , Dermatologist  <H6></P>
 <br> <br>
  <div class="card text-center">
  <div class="card-header">
   
  <div class="card-body">
    <h5 class="card-title">Our Doctor Are Award Winning IN there fields</h5>
    <p class="card-text">And Come Under TOp 5  Best Doctor In country In their Field  </p>
    <a href="https://en.wikipedia.org/wiki/Cancer"  class="btn btn-primary" target="_blank">Cancer</a>

   <a href="https://en.wikipedia.org/wiki/Diabetes"   class="btn btn-primary" target="_blank" >Diabetes</a>

   <a href="https://en.wikipedia.org/wiki/Orthopedic"  class="btn btn-primary" target="_blank" >Orthopedic</a>

   <a href="https://en.wikipedia.org/wiki/Cardio "  class="btn btn-primary"target="_blank" >Cardiologist</a>

   <a href="https://en.wikipedia.org/wiki/physiotheraphy"  class="btn btn-primary" target="_blank" >physiotheraphy</a>

   <a href="https://en.wikipedia.org/wiki/organ transplant"   class="btn btn-primary"target="_blank" >Organ transplant</a>

   <a href="https://en.wikipedia.org/wiki/dermatologist"   class="btn btn-primary"target="_blank" >Dermatologist</a>

   <a href="https://en.wikipedia.org/wiki/neuro"   class="btn btn-primary"target="_blank" >Neurologist</a>
  </div>
</div>
     
     <div class="container style"></div>
 



 <P><h3> Doctor for Cancer </h3>
 Contact-789456***3
 <P>
 <P><h3> Diabetologist </h3>
 Contact-789456***3
 <P>
 <P><h3>Neurologist </h3>
 Contact-789456***3
 <P>

  <P><h5>Orthopedic </h5>
 Contact-789456***3
 </P>
 <P><h3>Cardiologist</h3>
 Contact-789456***3
 </P>

 <P><h3>physiotheraphy</h3>
 Contact-789456***3
 </P>
<P><h3>Organ transplant</h3>
 Contact-789456***3
 </P>
 <P><h3>Dermatologist</h3>
 Contact-789456***3
 </P>
 </div>
 {% endblock body %}